@import "../components/variables/Variables.module.scss";

.single-blog-wrapper {
  background-color: $whiteBackground;
  padding: $mainPadding;
  .fillter-card-blog {
    background-color: white;
    box-shadow: $shadowBox;
    padding: 10px;
    border-radius: 6px;
    width: 100%;
    text-transform: capitalize;
    .title-card {
      padding: 5px 0 15px;
      h4 {
        text-transform: capitalize;
        font-size: 14px;
        font-weight: 600;
      }
    }
    .card-links-upper {
      display: flex;
      flex-direction: column;
      a {
        color: #888;
        font-size: 13px;
        margin: 5px 0;
      }
    }
  }
  .single-blog-card {
    border-bottom: 1px solid #ddd;
    .card-title {
      text-transform: capitalize;
      h4 {
        font-size: 20px;
        margin: 0 0 10px 0;
      }
    }
    .card-image {
      width: 100%;
      height: 600px;
      border-radius: 6px;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .card-description {
      padding: 15px 0;
      p {
        margin: 0 0 15px;
        color: #777;
        font-size: 13px;
      }
      span {
        color: #777;
        font-size: 11px;
      }
    }
  }
  .back-to-blog {
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    a {
      text-transform: capitalize;
      font-size: 13px;
      color: #888;
      margin-left: 5px;
    }
  }
  .single-blog-comment {
    padding: 20px 15px 20px;
    margin-top: 15px;
    border-radius: 6px;
    box-shadow: $shadowBox;
    background-color: white;
    h4 {
      font-size: 18px;
      margin-bottom: 15px;
      text-transform: capitalize;
      color: #777;
    }
    .single-form {
      .form-group {
        display: inline-block;
        width: 48%;
        .form-control {
          width: 100%;
          border: none;
          background-color: #eee;
          font-size: 13px;
          height: calc(1.7em + 0.75rem + 2px);
          &:focus {
            box-shadow: none;
          }
          &::placeholder {
            text-transform: capitalize;
          }
        }
        textarea {
          width: 100%;
          border: none;
          background-color: #eee;
          font-size: 13px;
          height: 150px;
          padding: 10px;
          &:focus {
            outline: none;
          }
          &::placeholder {
            text-transform: capitalize;
          }
        }
      }
      .single-blog-buttons {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: start;
        .btn {
          background-color: $BackgorundColor;
          color: white;
          cursor: pointer;
          width: 120px;
          height: 35px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 15px;
          font-size: 12px;
          transition: all 0.2s ease-in-out;
          text-transform: capitalize;
          border: transparent;
          font-weight: 500;
          opacity: 0.9;
          &:hover {
            background-color: $OrBackground;
            color: #131921;
            opacity: 1;
          }
        }
      }
    }
  }
}
