//// All Colors Here

$BackgorundColor: #131921;

$nextBackgroundColor: #232f3e;

$BorderColor: #3b4149;

$paragraphFontSize: 13px;

$OrBackground: #ffa93a;

$mainPadding: 50px 0;

$whiteBackground: #eeeeee;

$shadowBox: 0 0 10px #0000001a;
